body {
    background-color: lightgray;
}

#main-body {
    background-color: rgb(248, 205, 181);
    width: 600px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    padding: 15px 25px 25px 25px;
}

ul  {
    display: inline-block;
    padding-inline-start: 0px;
    margin: 0px;
}

a {
    color:rgb(143, 44, 44);
}